beautifulsoup4==4.9.3
boto==2.49.0
boto3==1.14.55
botocore==1.17.55
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
Deprecated==1.2.10
docutils==0.16
fasttext==0.9.2
gensim==3.8.3
idna==2.10
jmespath==0.10.0
Markdown==3.2.2
numpy==1.19.1
pybind11==2.5.0
PyGithub==1.53
PyJWT==1.7.1
python-dateutil==2.8.1
requests==2.24.0
s3transfer==0.3.3
scipy==1.5.2
six==1.15.0
smart-open==2.1.1
soupsieve==2.0.1
urllib3==1.25.10
wrapt==1.12.1
